// Vars
$clock-text-color: #fff;
$clock-bg-color: #B5D0E2;
$clock-border-color:#2099E8;

.w100 {
  width: 100%;
}

.app-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.a__hover--blue {
  color: #29b6f6;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: #039be5;
  }
}

nav ul a.active {
  font-weight: bold;
}

.clock {
  align-items: center;
  background-color: $clock-bg-color;
  border: 2px solid $clock-border-color;
  border-radius: 50%;
  display: flex;
  height: 14rem;
  justify-content: center;
  margin: 4rem auto;
  width: 14rem;
}

.clock__text {
  color: $clock-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}

// .countdown__form {
//   margin: 0 auto;
//   width: 50%;
// }
