.app-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.a__hover--blue {
  color: #29b6f6;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: #039be5;
  }
}